body {
    width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* Custom settings */
nav {
    margin-left: 100px;
    margin-top: 100px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: black;
}

/* TODO: Consolidate transitions and common styles */
/* TODO: MAKE YOUR HTML ELEMENTS MORE DESCRIPTIVE: S-E-O!! */

nav ul, nav li { display: none; }

nav {
    display: block;
    position: relative;
    white-space: nowrap;
    height: 25px;
    width: 500px;

    transition: 0.2s width ease;
}

nav span {
    position: absolute;
    display: inline;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}

/* THE KEY TO GOOD TRANSITIONS: */
/* THE ABILITY TO TURN OFF TRANSITIONS */
nav span.transition {
    transition: 0.2s left ease,
                0.2s opacity ease;
}

nav span.middle { left: 0; }
nav span.left { left: -40px; }
nav span.right { left: 40px; }

nav span.left,
nav span.right,
nav div.hidden {
    opacity: 0;
    pointer-events: none;
}

nav span a {
    display: inline;
    cursor: pointer;
    margin-right: 20px;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

nav span a:last-child {
    margin-right: 0;
}

/* BACK BUTTON */
nav div {
    display: block;
    cursor: pointer;
    position: absolute;
    background: url('ui/arrow_left.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    left: -30px;
    top: 50%;
    transform: translate(0, -50%);
    
    transition: 0.2s left ease,
                0.2s opacity ease;
}

nav div.hidden { left: -10px; }
