body {
    width: 100%;
}

nav {
	display: inline-block;
	background: #aaa;
}

nav.left {

}

nav.right {

}

nav div {
	display: inline;
	margin-right: 20px;
}

nav div:last-child {
	margin-right: 0;
}

nav div.static {
	margin-right: 0;
}
