body {
    width: 100%;
}

a {
	text-decoration: inherit;
	color: inherit;
}

/* Custom settings */
nav {
	margin-left: 100px;
	margin-top: 100px;
}

nav {
	display: inline-block;
	position: relative;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
	color: black;
}

nav a {
	display: inline;
	margin-right: 20px;
	cursor: pointer;

}

nav a:last-child {
	margin-right: 0;
}

nav div {
	display: block;
	position: absolute;
	height: 20px;
	width: 20px;
	background: #000;
	left: -20px;
	top: 0;
	
	cursor: pointer;
}

